*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
:root{
    --tw-bg-opacity: 1;
}
.container{
    width: 100%;
    display: flex;
}
.container-left{
    width: 85px;
    height: 100vh;
    background-color: rgb(30 41 59/var(--tw-bg-opacity));
    text-align: center;
    padding: 0.7rem 0px;
    position: fixed;
}
.container-left div img{
    width: 65px;
}
.container-left .menu{
    color: white;
}
.container-left .menu{
    padding: 0.9rem 0px;
}
.container-left .menu i{
    font-size: 18px;
    cursor: pointer;
}
.container-left .menu a{
    text-decoration: none;
    color: white;
    font-size: 11.5px;
}
.container-right{
    width: 96%;
    padding: 2rem 1rem;
    margin-left: 85px;
    overflow-x: hidden;
}
.container-right .search{
    width: 100%;
    display: flex;
}
.img-shop{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-right .search .img-shop img{
    width: 100%;
    padding: 0.1rem;
}
.container-right .search .search-1{
    width: 90%;
}
.container-right .search .search-1 input{
    width: 99%;
    height: auto;
    border-radius: 40px;
    border: none;
    padding: 0.9rem 3rem;
    font-size: 17px;
    border: 1px solid #c7c7c7;
}
.container-right .search .search-1 i{
    position: absolute;
    left: 110px;
    top: 45px;
    font-size: 25px;
    color: #6b7280;;
}
.container-right .search .img-shop{
    padding: 6px 0px;
    width: 14.4%;
}
.container-right .menu-shop{
        display: flex;
        padding: 1.5rem 0px;
        color: black;
        list-style-type: none;
}
.container-right .menu-shop img{
    width: 1rem;
}
.container-right .menu-shop li{
    display: flex;
    flex-shrink: 0;
    width: 100px;
    cursor: pointer;
    white-space: nowrap;    
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    padding: 0.3rem;
}
.container-right .menu-shop li:not(.title){
    margin-left: 1.5rem;
    border: 1px solid #c7c7c7;
    cursor: pointer;
}
.container-right .menu-shop li:not(.title):hover{
    background-color: #e9e9e9;
    
}

.container-right .menu-shop a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}
.container-right .menu-shop img{
   position: relative;
   left: 0.1rem;
   top: 0.2rem;
}
.container-right .menu-shop i{
    position: relative;
    top: 0.2rem;
}
.container-right .menu-shop .title{
    font-size: 18px;
}
.menu-shop .back,.next{
    position: absolute;
    width: 70px;
    background-color: rgba(160, 160, 160, 0.5);
    font-size: 25px;
    text-align: center;
    color: white;
    cursor: pointer;
}